*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Cambria";
}

/*ANIMACIONES*/
@keyframes enlaces_instants{
    0%{
        left: 100%;
    }
    25%{
        top: 50%;
        text-shadow: 1px 3px 5px rgb(0, 255, 102), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(5, 5, 5);
    }
    100%{
        text-shadow: 1px 3px 10px rgb(0, 255, 102), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(5, 5, 5);
        top: 25%;
    }
}
@keyframes enlaces_click{
    0%{
        left: 100%;
    }
    50%{
        top: 50%;
    }
    100%{

        top: 40%;
    }
}
@keyframes enlaces_dioramas{
    0%{
        left: 100%;
    }
    50%{
        top: 50%;
    }
    100%{
        top: 60%;
    }
}

@keyframes ocultar{
    0%{
        opacity: 100%;
        
    }
    90%{
        opacity: 100%;
    }
    100%{
        text-shadow: 1px 3px 10px rgb(0, 255, 102), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(5, 5, 5);
        opacity: 0%;
        
    }
}

@keyframes logo{
    0%{
        top: 0%;
    }

    50%{
        top: 40%;
    }

    100%{
        top: 87%;
    }

}

/*FIN ANIMACIONES*/

    

.contenedor{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    align-items: left;
    padding: 0 5px;
    overflow: hidden;
}

.video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.video{
    min-height: 100%;
    min-width: 100%;
    object-fit:cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-60%,-50%);
    -webkit-transform:  translate(-60%,-50%);
    -moz-transform:  translate(-60%,-50%);
    -ms-transform:  translate(-60%,-50%);
    -o-transform:  translate(-60%,-50%);
}

.logo{
    z-index: 10;
    position: fixed;
    top:87%;
    animation-duration: 15s;
    animation-name: logo;
    animation-iteration-count: 1;
    animation-direction: alternate;
}
.logo_instants{
    z-index: 10;
    width: 150px;
    height: 30%;
    margin: 10px;
}
.texto_enlaces{
    position: absolute;
    
}
.enlaces{
    color: rgb(255, 255, 255);
    padding: 5px;
    padding-bottom: 1px;
    /* border-right: 3px rgb(255, 255, 255) solid;
    border-left: 3px rgb(255, 255, 255) solid; */
    text-shadow: 50px 3px 10px rgb(0, 255, 102), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(5, 5, 5);
    border-bottom: 1px white solid;
}

.mensaje{
    z-index: 9;
    /* border: 1px rgb(255, 0, 0) solid; */
    width: 60%;
    height: 10%;
    margin-top: 15vmax;
    opacity: 0%;

    animation-duration: 15s;
    animation-name: ocultar;
    animation-iteration-count: 1;
    animation-direction: alternate;
}
.mensaje > p{
    color: white;
    text-align: left;
    size: 10%;
}

.mensaje >a{
    color: white;
    font-size: 10px;
    text-decoration: none;

}
.logo_facebook{
    width: 10px;
    margin-top: 8px;
    
}
.logo_facebook_click{
    width: 20px;
    margin-top: 3px;
    
}

/* ZONA INSTANTS */
.instants{
    /* border: 1px rgb(255, 0, 0) solid; */
    z-index: 10;
    font-weight: 700;
    font-size: 3vmax;
    width: 30vmax;
    /* overflow: hidden; */
    position: absolute;
    top: 25%;
    left: 30%;

    animation-duration: 10s;
    animation-name: enlaces_instants;
    animation-iteration-count: 1;
    animation-direction: alternate;
}
.enlaces_instants{
    border: 3px rgb(255, 255, 255) solid;
    font-size: 2vmax;

    left: -40%;
    position: absolute;
    width: 140%;
    
    /* background-color: green; */
    visibility: visible;
    
    
}
.fondo_intants{
    width: 100%;
    height: 100%;
}


/* FIN ZONA INSTANTS */

/* ZONA PLAYMOCLICKLAND */
.playmoclickland{
    /* border: 1px rgb(255, 0, 0) solid; */
    z-index: 9;
    font-weight: 700;
    font-size: 3vmax;
    width: 30vmax;
    overflow: hidden;
    position: absolute;
    top: 40%;
    left: 20%;

    animation-duration: 10s;
    animation-name: enlaces_click;
    animation-iteration-count: 1;
    animation-direction: alternate;
}

/* FIN ZONA CLICKMOCLICKLAND */

/* ZZONA DIORAMAS */
.dioramas{
    /* border: 1px rgb(255, 0, 0) solid; */
    z-index: 8;
    font-weight: 700;
    font-size: 3vmax;
    width: 30vmax;
    overflow: hidden;
    position: absolute;
    top: 60%;
    left: 10%;

    animation-duration: 10s;
    animation-name: enlaces_dioramas;
    animation-iteration-count: 1;
    animation-direction: alternate;
}

/* FIN ZONA DIORAMAS*/

