*{
    margin: 0;
    font-family: "Cambria";
}

/* Animacione ZOOM */
@keyframes zoom{
    from{
        scale: 1500%;
        
    }
    to{
        scale: 100%;
        
    }
}
/* Animacione desvancecer mensaje */
@keyframes fade-out{
    0%{
        opacity: 100%;
        
    }
    90%{
        opacity: 100%;
    }
    100%{
        opacity: 0%;
        
    }
}
/*Animacion ZOOM imagenes */
@keyframes imagenes{
    0%{
        opacity: 30%;
        transform: scale(50%);
        -webkit-transform: scale(50%);
        -moz-transform: scale(50%);
        -ms-transform: scale(50%);
        -o-transform: scale(50%);
        -webkit-animation:;
}
    50%{
        opacity: 85%;
        transform: scale(95%);
        -webkit-transform: scale(95%);
        -moz-transform: scale(95%);
        -ms-transform: scale(95%);
        -o-transform: scale(95%);
}
    90%{
        opacity: 100%;
        transform: scale(100%);
        -webkit-transform: scale(100%);
        -moz-transform: scale(100%);
        -ms-transform: scale(100%);
        -o-transform: scale(100%);
}
}

/*Animacion MENSAJES_SECCIONES*/
@keyframes mensaje{
    0%{
        margin-left: 20px;
        scale: 10%;
        text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em rgb(255, 255, 255), 0 0 0.2em rgb(0, 145, 255);
    }
    50%{
        margin-left: 50px;
        scale: 100%;
        text-shadow: 1px 1px 2px red, 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(5, 5, 5);
    }
    100%{
        margin-left: 75px;
        scale: 150%;
        border-right: 3px rgb(255, 255, 255) solid;
        text-shadow: 1px 1px 2px red, 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(5, 5, 5);
}
}



.logo{
     position: fixed;
     margin-left: 5%;
     margin-top:30px;
     z-index: 100;
}

img.logo_instants{
    width:15vh;
    
     /*Esto es para el zomm del logo */
     view-timeline-name: --zoom;
     view-timeline-axis: block;
 
     animation-timeline: --zoom;
 
     animation-name: zoom;
   
}


.mensaje{
    /* background-color: rgba(255,255,255,0.4); */
    /* border: 1px red dashed; */
    width: 70%;
    margin: 0px;
    opacity: 0;
    overflow: hidden;
      /*Esto es para el fade out del logo */
      view-timeline-name: --fade-out;
      view-timeline-axis: block;
  
      animation-timeline: --fade-out;
  
      animation-name: fade-out;
     
}
.mensaje >p{ 
    color: white;
    text-decoration:none;
    font-size: 3vh;
    
  
}
.mensaje >a{
    color: white;
    font-size: 10px;
    text-decoration: none;

}
.logo_facebook{
    width: 5%;
    margin-top: 5px;
    
}

/* Seccion Ultimos trabajos */
.last-job{
    /* border: 1px red dashed; */
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    
}
/*F IN SECCION ULTIMOS TRABAJOS +/
/*Seccion instants*/
.instants{
    /* border: 1px red dashed; */
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
    background-color: rgb(255, 255, 255);
    

}
.fondo_intants{
    width: 100%;
    height: 100%;
    margin: 0px;
    view-timeline-name: --imagenes;
    view-timeline-axis: block;
    animation-timeline: --imagenes;
    animation-name: imagenes;
    
}

/* FIN SEECCION INSTANTS */

/*Seccion clickmobilland*/
.playmoclickland{
    /* border: 1px red dashed; */
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: rgb(255, 255, 255);
    /* overflow: hidden; */
}

.fondo_plamoclickland{
    width: 100%;
    height: 100%;
    margin: 0px;
     
    /* scale: 200%; */

    view-timeline-name: --imagenes;
    view-timeline-axis: block;

    animation-timeline: --imagenes;
    animation-name: imagenes;

}


/* FIN SECCION PLAYMOCLICKLAND */


/*Seccion Dioramas*/
.dioramas{
    /* border: 1px red dashed; */
    height: 35vh;
    width: 100%;
    /* overflow: hidden; */
    background-color: rgb(255, 255, 255);
}

.video{
    /* max-width: 1800px; */
    margin-top: 0;
    padding: 0;
    width: 100%;
}
.fondo_dioramas{
    width: 100%;
    /* height: 100%; */
    margin: 0px;
     
    /* scale: 200%; */

    view-timeline-name: --imagenes;
    view-timeline-axis: block;

    animation-timeline: --imagenes;
    animation-name: imagenes;
}


/* FIN SECCION DIORAMAS */

/* SECCION EN BLANCO */
.seccion_blanco{
    width: 100%;
    height: 30vh;
    margin: 0px;
}

/* FIN SECCION EN BLANCO */

/* MENSAJE DE SECCIONES */
.mensaje_secciones{
    font-size: 20px;
    position: absolute;
    padding: 3px;
    padding-right: 10px;
    margin-left:25px;
    margin-top:20%;
    z-index: 1;
    color: rgb(255, 255, 255);
    

    view-timeline-name: --mensaje;
    view-timeline-axis: block;

    animation-timeline: --mensaje;

    animation-name: mensaje;
}

/*PARA LAS ROTACIONES*/
@keyframes roll {
    0% {
      font-size: 0px;
      opacity: 0;
      margin-left: -30px;
      margin-top: 0px;
      transform: rotate(-25deg);
    }
    3% {
      opacity: 1;
      transform: rotate(0deg);
    }
    5% {
      font-size: inherit;
      opacity: 1;
      margin-left: 0px;
      margin-top: 0px;
    }
    20% {
      font-size: inherit;
      opacity: 1;
      margin-left: 0px;
      margin-top: 0px;
      transform: rotate(0deg);
    }
    27% {
      font-size: 0px;
      opacity: 0.5;
      margin-left: 20px;
      margin-top: 100px;
    }
    100% {
      font-size: 0px;
      opacity: 0;
      margin-left: -30px;
      margin-top: 0px;
      transform: rotate(15deg);
    }
  }
@keyframes roll2 {
    0% {
      font-size: 0px;
      opacity: 0;
      margin-left: -30px;
      margin-top: 0px;
      transform: rotate(-25deg);
    }
    3% {
      opacity: 1;
      transform: rotate(0deg);
    }
    5% {
      font-size: inherit;
      opacity: 1;
      margin-left: 0px;
      margin-top: 0px;
    }
    30% {
      font-size: inherit;
      opacity: 1;
      margin-left: 0px;
      margin-top: 0px;
      transform: rotate(0deg);
    }
    37% {
      font-size: 1500px;
      opacity: 0;
      margin-left: -1000px;
      margin-top: -800px;
    }
    100% {
      font-size: 0px;
      opacity: 0;
      margin-left: -30px;
      margin-top: 0px;
      transform: rotate(15deg);
    }
} 
.card {
    position: relative;
    /*width: 100%;
    height: 100%;
    */cursor: pointer;
    border: 2px solid #fe0000;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -ms-transition: transform 1s;
    -o-transition: transform 1s;
}
.card__face {
    color: white;
    backface-visibility: hidden;
  }
  
.card__face--front {
    background: rgb(255, 255, 255);
}
.card__face--back {
    background: rgb(255, 255, 255);
    transform: rotateY(180deg);
    color: black;
}

.card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
}
/* FIN DE LAS ROTACIONES */

/*PARA LAS TARJETAS VOLTEADAS*/

/*FIN DE LAS TARAJETAS VOLTEADAS*/
