*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Cambria";
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    
}
/*ANIMACIONES*/
@keyframes enlaces_instants{
    0%{
        left: 100%;
    }
    /* 50%{
        top: 50%;
    } */
    100%{
        top: 30%;
    }
}
@keyframes enlaces_click{
    0%{
        left: 100%;
    }
    /* 50%{
        top: 50%;
    } */
    100%{
        top: 40%;
    }
}
@keyframes enlaces_dioramas{
    0%{
        left: 100%;
    }
    /* 50%{
        top: 50%;
    } */
    100%{
        top: 50%;
    }
}

/*FIN ANIMACIONES*/

    

.contenedor{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    align-items: left;
    padding: 0 5px;
    overflow: hidden;
}
}
.video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.video{
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
/* .video-container::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
} */
.logo{
    z-index: 10;
    position: fixed;
}
.logo_instants{
    z-index: 10;
    width: 30%;
    height: 30%;
    margin: 10px;
}
.instants{
    border: 1px rgb(255, 0, 0) solid;
    z-index: 10;
    font-weight: 700;
    font-size: 3vmax;
    width: 30vmax;
    overflow: hidden;
    position: absolute;
    top: 30%;
    left: 30%;

    animation-duration: 10s;
    animation-name: enlaces_instants;
    animation-iteration-count: 1;
    animation-direction: alternate;
}
.playmoclickland{
    border: 1px rgb(255, 0, 0) solid;
    z-index: 10;
    font-weight: 700;
    font-size: 3vmax;
    width: 30vmax;
    overflow: hidden;
    position: absolute;
    top: 40%;
    left: 30%;

    animation-duration: 10s;
    animation-name: enlaces_click;
    animation-iteration-count: 1;
    animation-direction: alternate;
}
.dioramas{
    border: 1px rgb(255, 0, 0) solid;
    z-index: 10;
    font-weight: 700;
    font-size: 3vmax;
    width: 30vmax;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 30%;

    animation-duration: 10s;
    animation-name: enlaces_dioramas;
    animation-iteration-count: 1;
    animation-direction: alternate;
}
.enlaces{
    padding: 5px;
    border-right: 3px rgb(255, 255, 255) solid;
    border-left: 3px rgb(255, 255, 255) solid;
    text-shadow: 1px 3px 5px red, 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(5, 5, 5);
}